/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Geral do Corpo */
body {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url('../../img/zero-waste-beauty-products2.jpg') no-repeat center/cover;
}

/* Contêiner do Formulário */
.form-container {
    background-color: #cebbb0;
    padding: 20px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    max-width: 350px;
    width: 85%;
    text-align: center;
    position: relative;
}

/* Botão Voltar */
.voltar-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #bd9d80;
    color: #4b2303;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 95px;
    box-shadow: 0 4px 10px #c8c6c6;
    transition: 0.3s;
}

.voltar-btn:hover {
    background-color: #52341b;
    color: #ece5d9;
}

/* Inputs e Botões */
input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 2px solid #4b2303;
    border-radius: 25px;
    outline: none;
}

input:focus, button:hover {
    border-color: #372110;
    background-color: #52341b;
    color: #ece5d9;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: auto;
    padding: 20px;
    background-color: #cebbb0;
    border: 2px solid #4b2303;
    border-radius: 25px;
    max-width: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
